<h2>Xác nhận Thanh Toán</h2>
<p>@ViewBag.Message</p>

@if (ViewBag.Message.Contains("thành công"))
{
    <a class="btn btn-warning" href="@Url.Action("ThanhToan", "GioHangCT")">Quay về trang bán hàng</a>
}
else
{
    <a href="/GioHangCT/Index" class="btn btn-warning">Quay lại giỏ hàng</a>
}
