@{
    ViewData["Title"] = "Quên Mật Khẩu";
}

<h1>Quên Mật Khẩu</h1>
<hr />

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (TempData["Status"] != null)
{
    <div class="alert alert-success">
        @TempData["Status"]
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="QuenMatKhau">
            <div class="form-group">
                <label for="UserName">Nhập Tên tài khoản</label>
                <input type="text" id="UserName" name="UserName" class="form-control" required />
            </div>

            <div class="form-group">
                <input type="submit" value="Gửi yêu cầu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Quay lại trang đăng nhập</a>
</div>
